<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>tpGalan</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body> 

        <div class="card text-center">
            <div class="card-header">
                <strong>Programacion Visual</strong>
            </div>          
            <div class="card-body">
                <div class="container mt-4">
                    <div class="col-sm-8">
                        <form th:action="@{/savel}" th:object="${empleadol}" method="POST">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Libro</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Editorial:</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input th:field="*{editorial}" type="text" class="form-control"placeholder="Editorial" required/>                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Id_Libro:</label>
                                                </div>  
                                                <div class="col-md-8">
                                                    <input th:field="*{isbn}" type="text" class="form-control" required/>    
                                                </div>                                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Titulo:</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input th:field="*{titulo}" type="text" class="form-control" placeholder="Titulo Completo" required/>                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Autor:</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input th:field="*{autor}" type="text" class="form-control" placeholder="Nombre Completo" required/>                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <input type="submit" value="Guardar" class="btn btn-success">
                                    <a th:href="@{/listarl}" class="btn btn-danger">Cancelar </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Autor: Galan Matias DNI: 42.152.401</br>
                Derechos Reservados &copy; 2020</br>
                Creado por APU UNJUu
            </div>
        </div> 
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/funciones.js"></script>
    </body>
</html>
