<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>tpGalan</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body> 
        <div class="card text-center">
            <div class="card-header">
                <strong>Programacion Visual</strong>
            </div>
            <div class="card-body">
                <div class="container mt-6">
                    <div class="col-sm-6">
                        <form th:action="@{/savep}" th:object="${empleadop}" method="POST">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Prestamo de Libro</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>IdPrestamo:</label>
                                            </div>  
                                            <div class="col-md-8">
                                                <input th:field="*{idprestamo}" type="number" class="form-control" required/>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Fecha:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input th:field="*{fecha_prestamo}" type="text" class="form-control" placeholder="Fecha" required/>                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label th:text="Estudiante"></label><br/>
                                            </div> 
                                            <div class="col-md-8">
                                                <select th:field="*{nro_id.nro_id}"type="text" required>
                                                    <option th:each="p:${estudiante}" th:value="${p.nro_id}" th:text="${p.nombre}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row ">
                                            <div class="col-md-4">
                                                <label th:text="Libro"></label><br/>
                                            </div> 
                                            <div class="col-md-8">
                                                <select th:field="*{isbn.isbn}"type="text" required>
                                                    <option th:each="p:${libro}" th:value="${p.isbn}" th:text="${p.titulo}"></option>
                                                </select>
                                            </div> 
                                        </div>
                                    </div> 
                                </div>
                                <div class="card-footer">
                                    <input type="submit" value="Guardar" class="btn btn-success">
                                    <a th:href="@{/listarp}" class="btn btn-danger">Cancelar </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Autor: Galan Matias DNI: 42.152.401</br>
                Derechos Reservados &copy; 2020</br>
                Creado por APU UNJUu
            </div>
        </div>    
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/funciones.js"></script>
    </body>
</html>