<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>tpGalan</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body> 

        <div class="card text-center">
            <div class="card-header">
                <strong>Programacion Visual</strong>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Principal</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/listarl">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/listare">Estudiantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/listarp">Prestamos</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="card-body">
                <h5 class="card-title">Listado de Libros</h5>



                <div class="container mt-6">
                    <a th:href="@{/newl}" class="btn btn-primary">Nuevo</a>
                    <table class="table" >
                        <thead style="background-color: #5BA5EA">
                            <tr>
                                <th>Id_Libro</th>
                                <th>Titulo</th>
                                <th>Editorial</th>					
                                <th>Autor</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="p:${empleadosl}">
                                <td th:text="${p.isbn}"></td>
                                <td th:text="${p.titulo}"></td>
                                <td th:text="${p.editorial}"></td>
                                <td th:text="${p.autor}"></td>
                                <td>

                                    <a class="btn btn-danger" 
                                       th:href="@{/listarl/}+${p.isbn}"
                                       >editar</a>
                                    <a  
                                        class="btn btn-warning"
                                        th:href="@{/eliminarl/}+${p.isbn}"
                                        >eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>
            <div class="card-footer text-muted">
                Autor: Galan Matias DNI: 42.152.401</br>
                Derechos Reservados &copy; 2020</br>
                Creado por APU UNJUu
            </div>
        </div>    

    </body>
</html>
